---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const featuredProjects = projects.filter(({ data }) => data.isFeatured);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />

    <!-- Embed Google Calendar -->
    <div class="calendar-container">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&src=YzBhN2QwYTZmMDI2NDMzOGY5N2ZiMmJiZTQ2NjQ0MDE2ZDQ4MjE1OTE5YzA4ZjE4MzRlNDA1MTljMjcyZGZhYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=dWhwczNybmgxcW91Y2trYWU2aTI4YzlqZGFvMGlzMWtAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F6BF26&color=%230B8043&color=%23EF6C00"
            style="border: 0"
            width="400"
            height="400"
            frameborder="0"
            scrolling="no"
        >
        </iframe>
    </div>

    <div class="event-invite">
        <a
            target="_blank"
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NHQ0cGxmMWcyZ2lhMzg2OHNmaXBtMnNlN2lfMjAyNTAyMDlUMTkzMDAwWiBjMGE3ZDBhNmYwMjY0MzM4Zjk3ZmIyYmJlNDY2NDQwMTZkNDgyMTU5MTljMDhmMTgzNGU0MDUxOWMyNzJkZmFhQGc&tmsrc=c0a7d0a6f0264338f97fb2bbe46644016d48215919c08f1834e40519c272dfaa%40group.calendar.google.com&scp=ALL"
            ><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif" />
            Join Our Event
        </a>
    </div>

    {
        featuredProjects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projects</h2>
                {featuredProjects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">View All Projects</Button>
                </div>
            </div>
        )
    }

    {
        featuredPosts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Writing</h2>
                {featuredPosts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">View All Posts</Button>
                </div>
            </div>
        )
    }
</BaseLayout>
